<c-form>
    <form class="flex flex-wrap items-center justify-center mx-auto pt-12 md:w-1/2"
        hx-post="/api/v1/urls/shorten"
        hx-swap="none"
        hx-on::before-request="this.parentNode.onBeforeRequest()"
        hx-on::before-swap="this.parentNode.onBeforeSwap(event)"
        >
        <input type="url"
            name="full_url"
            autofocus
            value="https://google.com"
            required pattern="https?://.*"
            autocomplete="url"
            placeholder="Paste full URL"
            class="input input-bordered w-full mb-4" />

            <label class="input input-bordered flex items-center gap-2 pl-0 w-full mb-4">
                <span class="bg-neutral-100 flex items-center h-full px-2 rounded-l-md">{{ origin }}</span>
                <input type="text"
                    class="grow"
                    name="short_path"
                    autocomplete
                    pattern="[a-zA-Z0-9\s\-_]+"
                    placeholder="your-short-path"
                    maxlength="24" />
            </label>
        <button class="btn btn-accent w-full" type="submit">Shorten</button>
        <em class="text-sm mt-1">By default, all created short links will expire sometime in future</em>
    </form>
</c-form>
