<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" crossorigin src="{{ frontend_assets_url }}/index.js"></script>
  <link rel="stylesheet" crossorigin href="{{ frontend_assets_url }}/index.css">
  <title>URL Shortener</title>
</head>
<body>
  <main>
    <div class="container mx-auto px-6">
      <c-toast></c-toast>
      <c-form origin="{{ origin }}" url="/api/v1/shorten"></c-form>
    </div>
  </main>
</body>
</html>
