<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if frontend_assets_url %}
    <script type="module" crossorigin src="{{ frontend_assets_url }}/index.js"></script>
    <link rel="stylesheet" crossorigin href="{{ frontend_assets_url }}/index.css">
    {% elif vite_origin %}
    <script type="module" src="{{ vite_origin }}/@vite/client"></script>
    <script type="module" src="{{ vite_origin }}/src/main.ts"
        onerror="console.warn('Vite server should be running in order to serve frontend assets')"></script>
    {% endif %}
    <title>URL Shortener</title>
</head>
<body>
    <main>
        <div class="container mx-auto px-6">
            {% include "partials/toast.html" %}
            {% include "partials/form.html" %}
        </div>
    </main>
</body>
</html>
