<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.0/dist/htmx.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>URL Shortener</title>
</head>
<body>
    <main>
        <div class="container mx-auto px-6">
            {% include "toast.html" %}
            {% include "form.html" %}
            {% include "beforeswap.script.html" %}
        </div>
    </main>
</body>
</html>
